@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.3;
  color: white;
}

.body_discografia {
  background-image: url("../../assets/img/fondo_discografia.jpg");
  background-size: cover;
}
.body_miembros {
  background-image: url("../../assets/img/fondo_miembros.jpg");
}
.body_contacto {
  background-image: url("../../assets/img/fondo_contacto.jpg");
}
.body_galeria {
  background-image: url("../../assets/img/fondo_galeria.jpg");
}

.formato_texto {
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.2em;
}

/*FOOTER-----------------------------------------------------------------------------------------------------*/
footer {
  color: white;
}

.fa-brands {
  color: white;
}

/*PORTADA GENERAL--------------------------------------------------------------------------------------------*/
.portada {
  margin: 10vh 5vw;
  align-items: center;
}
.portada__texto_titulo {
  margin-bottom: 2%;
  font-size: 3rem;
}
.mt-6 {
  margin-top: 15vh;
  align-items: center;
}

/*INDEX------------------------------------------------------------------------------------------------------*/
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  position: relative;
}

.img-uno {
  background-image: url("../../assets/img/portada.jpg");
  height: 35rem;
}

.img-dos {
  background-image: url("../../assets/img/pyl.jpg");
  height: 25rem;
}

.texto-interior {
  left: 10%;
  position: relative;
  text-align: center;
  top: 70%;
  width: 80%;
}
.texto-interior h1 {
  font-size: 7rem;
  font-weight: bold;
}
.texto-interior h2 {
  font-size: 5rem;
}

.imgTxtPrincipal {
  position: relative;
  background-image: url("../../assets/img/fondo_texto.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
}
.imgTxtPrincipal__img {
  width: 100%;
}
.imgTxtPrincipal__parrafo {
  padding: 8%;
  margin: 0px 30vw 0px 0px;
}

.premios_logros {
  padding: 3% 5% 3% 5%;
  background-image: url("../assets/img/logros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.premios_logros__lista {
  list-style: none;
}
.premios_logros__lista li {
  padding: 1%;
  font-size: 1rem;
}

/*MIEMBROS---------------------------------------------------------------------------------------------------*/
.banda__miembro_img {
  border-radius: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
}

/*DISCOGRAFIA------------------------------------------------------------------------------------------------*/
.grid {
  margin: 5%;
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-areas: "titulo foto" "texto  foto" "album  album";
  align-items: center;
}

.portada__texto_titulo {
  grid-area: titulo;
}
.portada__texto_parrafo {
  grid-area: texto;
}
.portada__imagen {
  text-align: center;
  grid-area: foto;
  height: auto;
  width: 100%;
  justify-items: center;
}
.portada__imagen_img {
  height: auto;
  width: 70%;
  border-radius: 10%;
}

.albumes {
  grid-area: album;
  margin-top: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5%;
}
.albumes_album {
  height: 450px;
  width: 350px;
  margin-bottom: 3%;
}

/*GALERIA----------------------------------------------------------------------------------------------------*/
.galeria {
  margin-bottom: 3%;
}
.galeria__fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}
.galeria__fotos_foto {
  width: 350px;
  padding-bottom: 5%;
}
.galeria__fotos_foto img {
  height: 98%;
  width: 100%;
}

/*CONTACTO---------------------------------------------------------------------------------------------------*/
.formulario {
  background-color: white;
  border-radius: 5%;
  padding: 2%;
  width: 70%;
  color: #3a3a3a;
  font-size: 1rem;
}

.dato {
  outline: none;
  border: solid 1px #757575;
  padding: 0.5rem;
  margin: 1% 0 5% 0;
  width: 100%;
}
.dato:focus {
  border-color: black;
}

.boton {
  border-radius: 0.5rem;
  display: inline-block;
  padding: 1.2rem 1rem;
  color: white;
  width: 100%;
  margin: 1% 0 3% 0;
  border: none;
}
.boton:hover {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.boton_verde {
  background-color: #3CC93F;
}
.boton_rojo {
  background-color: #ca1717;
}

/*MEDIAQUERY---------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1240px) {
  .imgTxtPrincipal {
    background-position: 15%;
  }
  .imgTxtPrincipal__parrafo {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  .formato_texto {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .texto-interior {
    top: 80%;
  }
  .texto-interior h1 {
    font-size: 4rem;
  }
  .texto-interior h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 900px) {
  .imgTxtPrincipal {
    background-image: url("../../assets/img/fondo_texto_sin_banda.jpg");
    background-size: cover;
  }
  .imgTxtPrincipal__parrafo {
    position: relative;
    padding: 10vw 5vw 10vw 5vw;
    transform: translate(0%, 0%);
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .texto-interior h2 {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 420px) {
  .formato_texto {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .parallax {
    background-attachment: scroll;
  }
  .img-uno {
    height: 25rem;
  }
  .img-dos {
    height: 25rem;
  }
  .texto-interior {
    font-size: 2rem;
    top: 75%;
  }
  .premios_logros {
    padding: 5%;
  }
  .premios_logros__lista li {
    padding: 2%;
  }
}
@media screen and (max-width: 720px) {
  .grid {
    grid-template-columns: 8fr;
    grid-template-areas: "titulo" "texto" "foto" "album";
  }
  .albumes {
    gap: 1%;
  }
  .albumes_album {
    height: 400px;
    width: 300px;
  }
}
@media screen and (max-width: 720px) {
  .portada__texto_titulo {
    text-align: center;
  }
  .portada__texto_titulo h1 {
    height: auto;
    width: 100%;
  }
  .portada__texto_parrafo {
    text-align: center;
  }
  .portada__imagen {
    padding: 5%;
  }
  .portada__imagen_img {
    height: auto;
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */