
.galeria {
    margin-bottom: 3%;

    &__fotos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style: none;

        &_foto {
            width: 350px;
            padding-bottom: 5%;
            img{
                @include ancho(100%, 98%);
            }
        }
    }
}




