
.galeria {
    margin-bottom: 3%;

    &__fotos {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        list-style: none;
        gap: 0.2%;

        &_foto {
            width: 30%;             /*Corregir tamaño*/
        
            img{
                @include ancho(100%, 98%);
            }
        }
    }
}




