.portada {
    margin: 10vh 5vw;
    align-items: center;

    &__texto {
        

        &_titulo {
            margin-bottom: 2%;
            font-size: 3rem;
        }

        &_parrafo {
            @extend .portada__texto;
        }
    }

}

.mt-6 {
    margin-top: 15vh;
    align-items: center;
}

.fs-1{
    
}
$font-sizes: 10rem;



