.boton {
    border-radius: 0.5rem;
    display: inline-block;
    padding: 1.2rem 1rem;
    color: $blanco;
    width: 100%;
    margin: 1% 0 3% 0;
    border: none;

    &_verde {
        background-color: map-get($colores_boton, btnEnviar);
        border: 1px solid transparent;
    }
    
    &_rojo {
        @extend .boton_verde;
        background-color: map-get($colores_boton, btnBorrar);
    }

    &:hover {
        border: 1px solid $negro;
    }
}



