@media screen and (max-width: 720px) {
    .portada{
        
        &__texto_titulo {
            text-align: center;

            h1{
                @include ancho(100%);
            }
        }
    
        &__texto_parrafo {
            text-align: center;
        }
    
        &__imagen {
            padding: 5%;   
            &_img {
                @include ancho(30%);
            }
        }
    }
}