@media screen and (max-width: 720px) {

    .grid {
        grid-template-columns: 8fr;
        grid-template-areas:    "titulo"
                                "texto"
                                "foto"
                                "album";
    }

    .albumes {
        gap: 1%;
    
        &_album {
            @include ancho(300px, 400px);
        }
    }
}